.add-note-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    backdrop-filter: blur(0.5px);
}

.add-note-container {
    background-color: var(--bg-color);
    width: 600px;
    max-height: 80%;
    max-width: 90%;
    border-radius: 8px;
    box-shadow: 0 4px 15px var(--box-shadow);
    border: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
}

.an-text-area {
    display: flex;
    flex-direction: column;
    background: transparent;
}

.an-title {
    font-size: 1.3rem;
    border: none;
    background: transparent;
    color: var(--text-color);
    padding: 16px 13px 3px 13px;
    outline: none;
}

.an-content {
    font-family: inherit;
    font-size: 1rem;
    border: none;
    background: transparent;
    color: var(--text-color);
    padding: 10px 13px 0 13px;
    outline: none;
    resize: none;
    min-height: 150px;
    max-height: 300px;
    overflow-y: auto;
}

.an-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 5px 10px;
    box-shadow: 0 -2px 5px var(--box-shadow);
}

.an-footer-buttons {
    display: flex;
    justify-content: center;
    align-items: center;

    background: none;
    border: none;
    gap: 18px;
}

.an-footer-buttons button {
    display: flex;
    justify-content: center;
    align-items: center;

    background: none;
    border: none;
    cursor: pointer;
    color: inherit;

    padding: 12px 13px;
    border-radius: 50px;
}

.an-footer-buttons button:hover {
    background: var(--button-hover-color);
}

.an-close-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: inherit;

    padding: 8px 20px;
    border-radius: 5px;
}

.an-close-btn:hover {
    background: var(--button-hover-color);
}