.edit-note-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    backdrop-filter: blur(0.5px);
}

.edit-note-container {
    background-color: var(--bg-color);
    width: 600px;
    max-height: 80%;
    max-width: 90%;
    border-radius: 8px;
    box-shadow: 0 4px 15px var(--box-shadow);
    border: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;

    overflow: hidden;
    animation: modalPopIn 0.1s ease-out forwards;
}

@keyframes modalPopIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.en-text-area {
    display: block;
    flex: 1;
    overflow: auto;
    min-height: 0;
}

.en-text-area::-webkit-scrollbar {
    width: 10px;
}
.en-text-area::-webkit-scrollbar-track {
    background: transparent;
}
.en-text-area::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 5px;
    border: 2px solid transparent;
    background-clip: content-box;
}
.en-text-area::-webkit-scrollbar-thumb:hover {
    background-color: rgba(128, 128, 128, 0.8);
}

.en-title {
    display: block;
    width: 100%;
    box-sizing: border-box;

    font-size: 1.3rem;
    border: none;
    background: transparent;
    color: var(--text-color);
    padding: 16px 13px 3px 13px;
    outline: none;
}

.en-content {
    display: block;
    width: 100%;
    box-sizing: border-box;

    font-family: inherit;
    font-size: 1rem;
    border: none;
    background: transparent;
    color: var(--text-color);
    padding: 10px 13px 50px 13px;
    outline: none;
    resize: none;
    min-height: 150px;
    height: auto;
}

.en-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 5px 10px;
    box-shadow: 0 -2px 5px var(--box-shadow);

    background-color: var(--bg-color); 
    z-index: 2;
    flex-shrink: 0;
}

.en-footer-buttons {
    display: flex;
    justify-content: center;
    align-items: center;

    background: none;
    border: none;
    gap: 18px;
}

.en-footer-buttons button {
    display: flex;
    justify-content: center;
    align-items: center;

    background: none;
    border: none;
    cursor: pointer;
    color: grey;

    padding: 12px 13px;
    border-radius: 50px;

    transition: color 0.2s, background 0.2s;
}

.en-footer-buttons button.active {
    color: var(--card-btn-active);
}

.en-footer-buttons button:hover {
    background: var(--button-hover-color);
}

.en-close-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: inherit;

    padding: 8px 20px;
    border-radius: 5px;
}

.en-close-btn:hover {
    background: var(--button-hover-color);
}