.header-body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    padding: 0 2rem 0 4rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px var(--box-shadow);

    z-index: 1000;
    background-color: var(--bg-color);
}

.header-left-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7rem;
}

.header-right-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8rem;
}

.title-link {
    display: flex;
    align-items: center;
    gap: 0.8rem;

    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.logo-img {
    height: 40px;
    width: 40px;
}

.web-title span{
    font-size: 22px;
    color: var(--text-color);
    font-family: sans-serif;
    margin: 0;
    font-weight: 400;
}

.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 10px 0 23px;
    width: 700px;
    height: 47px;
    border-radius: 8px;

    background: var(--input-color);
    gap: 4px;
}

.search-bar input {
    flex-grow: 1;
    border: none;
    outline: none;
    background: none;
    font-size: 15px;
    color: var(--input-text-color);
}

.search-bar input::placeholder {
    color: var(--text-color);
    opacity: 1;
}

.search-bar:focus-within,
.search-bar:has(input:not(:placeholder-shown)) {
    background-color: white;
    box-shadow: 0 1px 6px rgba(0,0,0,0.2);
}

.search-bar:focus-within input,
.search-bar:has(input:not(:placeholder-shown)) input {
    color: black;
}

.search-bar:focus-within i,
.search-bar:has(input:not(:placeholder-shown)) i {
    color: black;
}

.search-bar:focus-within input::placeholder {
    color: grey;
}

.search-bar:focus-within .fa-solid:hover,
.search-bar:has(input:not(:placeholder-shown)) .fa-solid:hover {
    background: rgb(230, 230, 230);
}

.search-bar .fa-solid {
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--input-text-color);
    height: 38px;
    width: 38px;

    border-radius: 50px;
    cursor: pointer;
}

.search-bar .fa-solid:hover {
    background-color: var(--input-btn-hover);
}

.add-item button {
    display: flex;
    justify-content: center;
    align-items: center;

    background: none;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
    color: inherit;

    padding: 11px 10px 10px 10px;
    border-radius: 10px;
    border: 1px solid var(--border-color);
}

.add-item button:hover {
    background: var(--button-hover-color);
    box-shadow: 0 1px 6px var(--box-shadow);
}

.add-item i {
    padding-right: 6px;
}

.add-item span {
    font-size: 15px;
}

.page-title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    padding: 6px 12px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
}

.page-title i {
    color: var(--text-color);
}

.page-title h1 {
    font-size: 15px;
    font-weight: 500;

    color: var(--text-color);
    margin: 0;

    font-family: sans-serif;
}

.h-r-center-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
    padding-right: 20px;
}

.archive-link, 
.trash-link {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 10px 15px;
    
    text-decoration: none;
    color: var(--text-color);
    box-sizing: border-box;
}

.profile-link {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    
    text-decoration: none;
    color: var(--text-color);
    box-sizing: border-box;
}

.h-r-center-content button {
    position: relative;
    background: none;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
    color: inherit;
    padding: 13px 14px 11px 14px;
    border-radius: 50%;
}

.h-r-center-content button:hover {
    background: var(--button-hover-color);
}

.add-item-dropdown li,
.profile-dropdown li,
.setting-dropdown li {
    padding: 10px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: var(--text-color);
}

.more-dropdown li {
    padding: 0;
    cursor: pointer;
    font-size: 14px;
    color: var(--text-color);
}

.profile button {
    position: relative;
    background: none;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
    color: inherit;
    padding: 13px 14px 11px 14px;
    border-radius: 50%;
    border: 1px solid var(--border-color);
}

.profile button:hover {
    background: var(--button-hover-color);
}

.web-title {
    position: relative;
}

.search-bar i,
.add-item,
.more,
.settings,
.profile {
    position: relative;
    display: inline-block;
}

.web-title::after,
.search-bar i::after,
.page-title::after,
.header-right-content button::after,
.profile button::after {
    content: attr(data-tooltip-text);
    
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    
    background-color: var(--tooltip-color);
    color: var(--tooltip-text-color);
    padding: 5px 10px;
    border-radius: 4px;
    
    font-size: 12px;
    font-weight: 400;
    font-family: sans-serif;
    white-space: nowrap;
    pointer-events: none;
    z-index: 2000;

    opacity: 0;
    visibility: hidden;
    
    transition: opacity 0.2s 0s, visibility 0s 0.2s; 
}

.web-title:hover::after,
.search-bar i:hover::after,
.page-title:hover::after,
.header-right-content button:hover::after,
.profile button:hover::after {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.4s; 
}

.add-item-dropdown,
.more-dropdown,
.setting-dropdown,
.profile-dropdown {
    position: absolute;
    top: 100%;

    background-color: var(--bg-color);
    border-radius: 5px;
    box-shadow: 0 1px 4px var(--box-shadow);

    list-style: none;
    padding: 5px 0;
    margin: 5px 0 0 0;
    width: 130px;
    z-index: 1000;
}

.add-item-dropdown {
    left: 0;
}

.more-dropdown,
.setting-dropdown,
.profile-dropdown {
    right: 0;
}

.add-item-dropdown li:hover,
.more-dropdown li:hover,
.setting-dropdown li:hover,
.profile-dropdown li:hover {
    background-color: var(--d-menu-li);
}

/* Small Laptop / Tablet */
@media (max-width: 1024px) {
    .header-left-content {
        gap: 2rem;
    }
    
    .web-title span {
        display: none;
    }

    .add-item span {
        display: none; 
    }

    .add-item i {
        padding-right: 0;
    }

    .add-item button {
        padding: 11px;
    }

    .page-title h1 {
        display: none;
    }
    
    .page-title {
        border: none;
    }

    .search-bar {
        width: 350px;
    }

    .header-right-content {
        gap: 0.5rem;
    }

    .h-r-center-content {
        gap: 1.5px;
        padding-right: 0;
    }

    .web-title::after,
    .search-bar i::after,
    .page-title::after,
    .header-right-content button::after,
    .profile button::after {
        display: none;
    }
}

/* Mobile Devices */
@media (max-width: 800px) {
    .header-body {
        padding: 0 10px;
    }

    .header-left-content {
        gap: 0.5rem;
    }

    .search-bar {
        max-width: 250px;
        width: auto;
    }

    .header-right-content {
        gap: 2px;
    }

    .h-r-center-content {
        gap: 0;
        padding-right: 0;
    }

    .header-right-content button::after, 
    .search-bar i::after,
    .web-title::after,
    .page-title::after {
        display: none;
    }
}

/* Small Mobile */
@media (max-width: 500px) {
    .header-left-content {
        padding-right: 10px;
    }
    
    .search-bar {
        flex: 1;
        width: auto;
        padding: 0 10px;
    }

    .view {
        display: none;
    }

    .search-bar i {
        display: none;
    }

    .search-bar input {
        width: 100%;
    }
}