.dashboard-body {
  padding: 30px;
  max-width: 1400px;
  margin: 0 auto;
}

.db-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.db-note-card {
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  width: 250px;

  box-shadow: 0 1px 3px var(--box-shadow);
  transition: box-shadow 0.2s, transform 0.2s;
  position: relative;
  white-space: pre-wrap;
}

.db-note-card h1 {
  margin: 0;
  font-weight: 400;
  font-size: 1.1rem;
  padding: 10px 15px 0 15px;
}

.db-note-card p {
  margin: 0;
  font-size: 0.95rem;
  padding: 10px 15px 20px 15px;
}

.db-note-card:hover {
  box-shadow: 0 4px 8px var(--box-shadow);
}

.db-note-card:hover .db-note-buttons {
  opacity: 1;
}

.db-note-buttons {
  opacity: 0;
  transition: opacity 0.2s;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.db-note-card button {
  background: transparent;
  border: none;
  color: var(--text-color);
  cursor: pointer;
  padding: 8px 10px;
  border-radius: 50%;
  font-size: 0.9rem;
}

.db-note-card button:hover {
  background-color: var(--button-hover-color);
}

.db-loading-screen {
  text-align: center;
  color: var(--text-color);
  font-size: 2.5rem;
  margin-top: 243px;
}

.empty-state {
  text-align: center;
  color: var(--text-color);
  margin-top: 243px;
  column-span: all; 
}

.empty-state i {
  font-size: 5rem;
  margin-bottom: 20px;
  opacity: 0.2;
}