.header-body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    padding: 0 2rem 0 4rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-color);

    z-index: 1000;
}

.header-left-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7rem;
}

.header-right-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8rem;
}

.web-title {
    position: relative;
}

.title-link {
    display: flex;
    align-items: center;
    gap: 0.8rem;

    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.account-link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.web-title::after {
    content: attr(data-tooltip-text);
    
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    
    background-color: var(--tooltip-color);
    color: var(--tooltip-text-color);
    padding: 5px 10px;
    border-radius: 4px;
    
    font-size: 12px;
    font-weight: 400;
    font-family: sans-serif;
    white-space: nowrap;
    pointer-events: none;
    z-index: 2000;

    opacity: 0;
    visibility: hidden;
    
    transition: opacity 0.2s 0s, visibility 0s 0.2s; 
}

.web-title:hover::after {
    opacity: 1;
    visibility: visible;
    
    transition-delay: 0.4s; 
}

.logo-img {
    height: 40px;
    width: 40px;
}

.web-title span{
    font-size: 22px;
    color: var(--text-color);
    font-family: sans-serif;
    margin: 0;
    font-weight: 400;
}

.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 10px 0 23px;
    width: 700px;
    height: 47px;
    border-radius: 8px;

    background: var(--input-color);
    gap: 4px;
}

.search-bar input {
    flex-grow: 1;
    border: none;
    outline: none;
    background: none;
    font-size: 15px;
    color: var(--input-text-color);
}

.search-bar input::placeholder {
    color: var(--text-color);
    opacity: 1;
}

.search-bar:focus-within,
.search-bar:has(input:not(:placeholder-shown)) {
    background-color: white;
    box-shadow: 0 1px 6px rgba(0,0,0,0.2);
}

.search-bar:focus-within input,
.search-bar:has(input:not(:placeholder-shown)) input {
    color: black;
}

.search-bar:focus-within i,
.search-bar:has(input:not(:placeholder-shown)) i {
    color: black;
}

.search-bar:focus-within input::placeholder {
    color: grey;
}

.search-bar:focus-within .fa-solid:hover,
.search-bar:has(input:not(:placeholder-shown)) .fa-solid:hover {
    background: rgb(230, 230, 230);
}

.search-bar .fa-solid {
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--input-text-color);
    height: 38px;
    width: 38px;

    border-radius: 50px;
    cursor: pointer;
}

.search-bar .fa-solid:hover {
    background-color: var(--input-btn-hover);
}

.search-bar i {
    position: relative;
    display: inline-block;
}

.search-bar i::after {
    content: attr(data-tooltip-text);
    
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    
    background-color: var(--tooltip-color);
    color: var(--tooltip-text-color);
    padding: 5px 10px;
    border-radius: 4px;
    
    font-size: 12px;
    font-weight: 400;
    font-family: sans-serif;
    white-space: nowrap;
    pointer-events: none;
    z-index: 2000;

    opacity: 0;
    visibility: hidden;
    
    transition: opacity 0.2s 0s, visibility 0s 0.2s; 
}

.search-bar i:hover::after {
    opacity: 1;
    visibility: visible;
    
    transition-delay: 0.4s; 
}

.add-item {
    position: relative; 
    display: inline-block;
}

.add-item button {
    display: flex;
    justify-content: center;
    align-items: center;

    background: none;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
    color: inherit;

    padding: 11px 10px 10px 10px;
    border-radius: 10px;
    border: 1px solid var(--border-color);
}

.add-item button:hover {
    background: var(--button-hover-color);
    box-shadow: 0 1px 6px var(--box-shadow);
}

.add-item i {
    padding-right: 6px;
}

.add-item span {
    font-size: 15px;
}

.add-item-dropdown {
    position: absolute;
    top: 100%;
    right: 0;

    background-color: var(--bg-color);
    border-radius: 5px;
    box-shadow: 0 1px 4px var(--box-shadow);

    list-style: none;
    padding: 5px 0;
    margin: 5px 0 0 0;
    width: 130px;
    z-index: 1000;
}

.add-item-dropdown li {
    padding: 10px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: var(--text-color);
}

.add-item-dropdown li:hover {
    background-color: var(--d-menu-li);
}

.h-r-center-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
    padding-right: 20px;
}

.settings {
    position: relative; 
    display: inline-block;
}

.h-r-center-content button {
    position: relative;
    background: none;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
    color: inherit;
    padding: 13px 14px 11px 14px;
    border-radius: 50%;
}

.h-r-center-content button:hover {
    background: var(--button-hover-color);
}

.header-right-content button::after {
    content: attr(data-tooltip-text);
    
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    
    background-color: var(--tooltip-color);
    color: var(--tooltip-text-color);
    padding: 5px 10px;
    border-radius: 4px;
    
    font-size: 12px;
    font-weight: 400;
    font-family: sans-serif;
    white-space: nowrap;
    pointer-events: none;
    z-index: 2000;

    opacity: 0;
    visibility: hidden;
    
    transition: opacity 0.2s 0s, visibility 0s 0.2s; 
}

.header-right-content button:hover::after {
    opacity: 1;
    visibility: visible;
    
    transition-delay: 0.4s; 
}

.setting-dropdown {
    position: absolute;
    top: 100%;
    left: 0;

    background-color: var(--bg-color);
    border-radius: 5px;
    box-shadow: 0 1px 4px var(--box-shadow);

    list-style: none;
    padding: 5px 0;
    margin: 5px 0 0 0;
    width: 130px;
    z-index: 1000;
}

.setting-dropdown li {
    padding: 10px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: var(--text-color);
}

.setting-dropdown li:hover {
    background-color: var(--d-menu-li);
}

.profile {
    position: relative;
    display: inline-block;
}

.profile button {
    position: relative;
    background: none;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
    color: inherit;
    padding: 13px 14px 11px 14px;
    border-radius: 50%;
    border: 1px solid var(--border-color);
}

.profile button:hover {
    background: var(--button-hover-color);
}

.profile button::after {
    content: attr(data-tooltip-text);
    
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    
    background-color: var(--tooltip-color);
    color: var(--tooltip-text-color);
    padding: 5px 10px;
    border-radius: 4px;
    
    font-size: 12px;
    font-weight: 400;
    font-family: sans-serif;
    white-space: nowrap;
    pointer-events: none;
    z-index: 2000;

    opacity: 0;
    visibility: hidden;
    
    transition: opacity 0.2s 0s, visibility 0s 0.2s; 
}

.profile button:hover::after {
    opacity: 1;
    visibility: visible;
    
    transition-delay: 0.4s; 
}

.profile-dropdown {
    position: absolute;
    top: 100%;
    right: 0;

    background-color: var(--bg-color);
    border-radius: 5px;
    box-shadow: 0 1px 4px var(--box-shadow);

    list-style: none;
    padding: 5px 0;
    margin: 5px 0 0 0;
    width: 130px;
    z-index: 1000;
}

.profile-dropdown li {
    padding: 10px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: var(--text-color);
}

.profile-dropdown li:hover {
    background-color: var(--d-menu-li);
}