.trash-body {
  padding: 100px 30px 50px 30px;
  max-width: 1100px;
  margin: 0 auto;
}

.trash-loading-screen {
  text-align: center;
  color: var(--text-color);
  font-size: 2.5rem;
  margin-top: 240px;
}

.trash-grid {
  display: block;
  column-count: 4; 
  column-gap: 15px;

  width: 100%;
  max-width: 1100px;
  margin: 0 auto;

  transition: all 0.3s ease;
}

.trash-grid.list-view {
  display: flex;
  flex-direction: column;
  align-items: center;

  column-count: auto;
  column-gap: normal;
  gap: 15px;
}

.trash-grid.list-view .trash-note-card {
  width: 600px;
  max-width: 100%;
  margin-bottom: 0;
}

.trash-grid.list-view .trash-note-buttons {
  justify-content: flex-start;
  gap: 15px;
}






.trash-empty-state {
  text-align: center;
  color: var(--text-color);
  margin-top: 243px;
  column-span: all; 
}

.trash-empty-state i {
  font-size: 5rem;
  margin-bottom: 20px;
  opacity: 0.2;
}

@media (max-width: 1024px) {
  .trash-grid {
    column-count: 3;
  }
}

/* Tablet Portrait */
@media (max-width: 800px) {
  .trash-body {
    padding: 80px 50px 25px 50px;
  }
  .trash-grid {
    column-count: 2;
  }
}

/* Mobile */
@media (max-width: 500px) {
  .trash-body {
    padding: 80px 12px 25px 12px;
  }
  .trash-grid {
    column-gap: 10px;
  }
}