:root {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg-color: white;
  --r-bg-color: rgb(38, 39, 40);
  --text-color: #202124;
  --r-text-color: white;
  --border-color: rgb(214, 216, 222);
  --box-shadow: rgb(160, 160, 160);

  --input-color: rgb(245, 245, 245);
  --input-text-color: #202124;
  --input-btn-hover: rgb(230, 230, 230);
  --card-btn: #505156;
  --card-btn-active: black;
    
  --button-hover-color: rgb(245, 245, 245);
  --d-menu-li: rgb(240, 240, 240);

  --tooltip-color: rgb(65, 65, 65);
  --tooltip-text-color: white;
}

html.dark-mode {
  --bg-color: rgb(38, 39, 40);
  --r-bg-color: white;
  --text-color: white;
  --r-text-color: #202124;
  --border-color: rgb(85, 85, 90);
  --box-shadow: rgb(0, 0, 0, 0.5);

  --input-color: rgb(85, 85, 90);
  --input-text-color: white;
  --input-btn-hover: rgb(95, 95, 100);
  --card-btn: #dadce0;
  --card-btn-active: white;

  --button-hover-color: rgb(65, 65, 65);
  --d-menu-li: rgb(50, 50, 50);

  --tooltip-color: rgb(65, 65, 65);
  --tooltip-text-color: white;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 40px;
  color: var(--text-color);
}